@{
    Layout = "_CustomLayout";
}

@model PacchettoViaggio

<div class="container" >
    <div class="row text-center">
        <div class="col-12">
        <div>
            <h1 class="mt-3 mb-3">Dettagli Pacchetto Viaggio</h1>
        </div>
        </div>
    </div>
   
    <div class="row justify-content-center">
    <div id="dettaglio_viaggio" class="col-10 col-sm-8 col-md-4 shadow p-0 mb-5 bg-body rounded ">

    </div>

    <form onsubmit="richiestaInfo(event)"  method="post">
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <input type="text" class="form-control" name="NomeUtente" id="NomeUtente"/>
            <label class="form-label" for="NomeUtente">Nome</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" class="form-control" name="CognomeUtente" id="CognomeUtente"/>
            <label class="form-label" for="CognomeUtente">Cognome</label>
          </div>
        </div>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" class="form-control" name="Email" id="Email"/>
        <label class="form-label" for="Email">Email</label>
      </div>

      <!-- Message input -->
      <div class="form-outline mb-4">
        <textarea class="form-control" rows="4" name="Informazioni" id="Informazioni"></textarea>
        <label class="form-label" for="Informazioni">Ulteriori informazioni</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Invia richiesta</button>
    </form>
</div>



@section Scripts{
    <script type="text/javascript">

        loadViaggio();

        function loadViaggio(){
            var id = @Model.Id;
            axios.get('/api/Viaggi/Get?id='+ id).then((result) => {
                
                document.getElementById('dettaglio_viaggio').innerHTML =
                `
                    <div class="card border-0">
                        <img src="${result.data.immagine}" class="card-img-top rounded-0" alt="${result.data.nome}">
                    </div>

                    <div class="card-header text-white bg-warning border-0">
                        <h5 class="mb-0">${result.data.nome}</h5>
                    </div>

                    <div class="card-body">
                        <p class="card-text">${result.data.descrizione}</p>
                    </div>

                    <div class="card-footer bg-white pt-0">
                        <p class="text-warning"><small>${result.data.durata} days - ${result.data.numerodestinazioni} destinations</small></p>
                        <p><strong>${result.data.prezzo}&euro;</strong><span class="text-muted">/person</span></p>
                    </div>
                `
            }).catch((error) => {
                console.log("C'è stato un errore: " + error);
            })
        }

        
        function richiestaInfo(event) {
            debugger;

            event.preventDefault();
            
            
            var nome = document.getElementById('NomeUtente').value;
            var cognome = document.getElementById('CognomeUtente').value;
            var email = document.getElementById('Email').value;
            var informazioni = document.getElementById('Informazioni').value;
            var id = @Model.Id;

            var nuovaRichiesta = {
                NomeUtente: nome,
                CognomeUtente: cognome,
                EmailUtente: email,
                Richiesta: informazioni,
                PacchettoViaggioId : id
            }
            
            axios.post('/api/MoreInfo/Post', nuovaRichiesta
            ).then((result) => {

                console.log("Ho aggiunto la nuova richiesta");

            }).catch((error) => {
                console.log("Si è verificato un errore: " + error);
            })
        }
    </script>

}