@{
    Layout = "_CustomLayout";
}
<div id="intro">
    <div class="container" id="corpo">
        <div class="text-center">
            <h1 class="display-4">Pacchetti Viaggi</h1>
        </div>

        <div id="wait_viaggio" class="row text-dark justify-content-center my-5">
            <div class="col-2">
                <div class="loader">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <span>Loading...</span>
                </div>
            </div>
        </div>

        <div id="no_viaggio" class="row text-center d-none">
            <div class="col-12">
                <h3>Non è presente nessun pacchetto viaggio</h3>
            </div>
        </div>

        <div id="viaggio_div" class="row justify-content-center d-none" >

        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">

        
        
        loadViaggi('');

        function loadViaggi(viaggioDaCercare){
            document.getElementById('viaggio_div').innerHTML = "";

            axios.get('/api/Viaggi/Get', {
                params: {
                    cerca : viaggioDaCercare
                }
            }).then((result) =>{
                console.log("Ho ricevuto i miei pacchetti viaggio");

                if(result.data.length == 0){
                    document.getElementById('wait_viaggio').classList.add('d-none');
                    document.querySelector('no_viaggio').classList.remove('d-none');
                } else{
                    document.getElementById('wait_viaggio').classList.add('d-none');
                    document.getElementById('viaggio_div').classList.remove('d-none');

                    result.data.forEach(viaggio =>{
                        
                        var idViaggio = viaggio.id;
                        var url = "/Home/dettagli/" + idViaggio;
                        document.getElementById('viaggio_div').innerHTML += 
                        `
                            <div class="col-10 col-sm-8 col-md-3 shadow p-0 mb-5 bg-body rounded mx-4">

                                <a href="${url}" style="color: inherit; text-decoration: inherit">
                                    <div class="card border-0">
                                    <img src="${viaggio.immagine}" class="card-img-top " alt="${viaggio.nome}">
                                    </div>

                                    <div class="card-header text-white bg-success border-0">
                                    <h5 class="mb-0">${viaggio.nome}</h5>
                                    </div>

                                    <div class="card-body">
                                    <p class="card-text">${viaggio.descrizione}</p>
                                    </div>

                                    <div class="card-footer bg-white pt-0">
                                    <p class="text-success"><small>${viaggio.durata} days - ${viaggio.numeroDestinazioni} destinations</small></p>
                                    <p><strong>${viaggio.prezzo}&euro;</strong><span class="text-muted">/person</span></p>
                                    </div>
                                </a>
                            </div>
                        `
                    })
                }
            }).catch((error) => {
                console.log("C'è stato un errore: " + error);
            })
        }

    </script>
}
